## One-way ANOVA

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import f as f_table
import matplotlib.pyplot as plt

In [32]:
food_a = np.array([2,4,3])
food_b = np.array([6,5,7])
food_c = np.array([8,9,10])

df = pd.DataFrame({
        'food_a':food_a,
        'food_b':food_b,
        'food_c':food_c
    })
df

   food_a  food_b  food_c
0       2       6       8
1       4       5       9
2       3       7      10

## Hypothesis
H-null: µ-a = µ-b = µ-c

H-ater: At least one is statisticaly different from others

In [33]:
# Grand mean
g_mean = (df.food_a.mean() + df.food_b.mean() + df.food_c.mean())/3
print "Grand mean = {}".format(g_mean)

Grand mean = 6.0

In [34]:
df.describe()

       food_a  food_b  food_c
count     3.0     3.0     3.0
mean      3.0     6.0     9.0
std       1.0     1.0     1.0
min       2.0     5.0     8.0
25%       2.5     5.5     8.5
50%       3.0     6.0     9.0
75%       3.5     6.5     9.5
max       4.0     7.0    10.0

In [49]:
dfn = 2
dfd = 6
summary_df = pd.DataFrame({
        'DF': [2, 6, 9]
    }, index = ["Food", "Error", "total"], columns = ['DF', 'SS','MS','F','P'],)

In [47]:
# Sum of Square-between
ss_b = 3 * ((df.food_a.mean() - g_mean)**2 + (df.food_b.mean() - g_mean)**2 + (df.food_c.mean() - g_mean)**2)
print "Sum of Square-between = {}".format(ss_b)

Sum of Square-between = 54.0

In [22]:
# Sum of Square-within
ss_w = 2*df.food_a.std()**2 + 2*df.food_a.std()**2 + 2*df.food_a.std()**2
print "Sum of Square-between = {}".format(ss_w)

Sum of Square-between = 6.0

In [68]:
import scipy.stats as stats

summary_df['SS'] = np.array([ss_b, ss_w, ss_b + ss_w])
summary_df['MS'] = np.array([(ss_b/dfn), (ss_w/dfd), ''])
summary_df['F'] = np.array([stats.f_oneway(df.food_a, df.food_b, df.food_c).statistic, '', ''])
summary_df['P'] = np.array([stats.f_oneway(df.food_a, df.food_b, df.food_c).pvalue, '', ''])
summary_df

       DF  SS    MS     F      P
Food    2  54  27.0  27.0  0.001
Error   6   6   1.0
total   9  60

In [31]:
f_critical = f_table.ppf(1-0.05, dfn, dfd)
f_critical

5.1432528497847176

As F-stats > F-critical, we reject null hypothesis